@{
  Layout = "_Layout";
}
@* Name PriceRange  Rating *@
@model FavoriteRestaurants.Models.Restaurant

<h3>Restaurant Details</h2>
<hr>
<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>
<h2>@Html.DisplayNameFor(model => model.PriceRange): @Html.DisplayFor(model => model.PriceRange)</h2>
<h2>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h2>

<p>@Html.ActionLink("List of Restaurants", "Index")</p>
<p>@Html.ActionLink("List of Cuisines", "Index", "Cuisine")</p>
<p>@Html.ActionLink("Home Page", "Index", "Home")</p>
