@{
  Layout = "_Layout";
}

@model FavoriteRestaurants.Models.Cuisine
@using FavoriteRestaurants.Models

<h2>Cuisine Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<br>

@if (Model.Restaurants.Count == 0)
{
  <h2>No restaurants have been added to this cuisine.</h2>
}
else
{
  <h2>Restaurants:</h2>
  <ul class="list-unstyled">
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurant", new { id = restaurant.RestaurantId})</li>
    }
  </ul>
}
<hr>
<p>@Html.ActionLink("Add restaurant", "Create", "Restaurant")</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
@using (Html.BeginForm("Delete", "Cuisine", routeValues: new {id = Model.CuisineId}))
{
  <input type="submit" value="Delete" class="btn btn-primary border">
}
@* <p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p> *@